<!DOCTYPE html>
<html>
<body>
    
<h1>GENERATE TOP KEY WORDS AND SENTIMENT OF POPULAR NEWS PUBLICATIONS</h1>
<title>Sentiment Analysis on Media</title>



<form action="/" method="post">

  <label for="cars">Choose a website:</label>
  <select name="website" id="website">
    <option value="nytimes" {{nytimes_selected}} >NYTIMES</option>
    <option value="foxnews" {{foxnews_selected}}  >FOXNEWS</option>
  </select>
  <br>
  <br>
 

  <p>Show Website Scraped Data:</p>
    <input type="radio" id="scrapedata1" name="scrapedata" value="true" {{yes_checked}} >
    <label for="scrapedata1">Yes</label><br>
    <input type="radio" id="scrapedata2" name="scrapedata" value="false" {{no_checked}} >
    <label for="scrapedata2">No</label><br>
  

  <br>

  <input type="submit" value="Submit">
</form>
{% if message and Positive and Negative and Neutral and Compound %}
  <p>{{message}}</p>
  <table>
    <tr>
      <td>Positive</td>
      <td>{{Positive}}</td>
    </tr>
    <tr>
      <td>Negative</td>
      <td>{{Negative}}</td>
    </tr>
    <tr>
      <td>Neutral</td>
      <td>{{Neutral}}</td>
    </tr>
    <tr>
      <td>Compound</td>
      <td>{{Compound}}</td>
    </tr>
  </table>

  <p>{{Scraped}}</p>
  {% else %}
    <p></p>
  {% endif %}

 
</body>
</html>